/* Generic Stuff */

body {
    background-color: grey;
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 0;
}

.container {
    width: 80%;
    height: 80px;
    margin: 0 auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* NAVBAR STUFF */

header {
    background-color: white;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 15px 0;
    height: 50px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-left: 70px;
}

nav a {
    color: black;
    text-decoration: none;
    line-height: 80px;
}

/* Notes Stuff */
.notes-list {
    line-height: 200%;
}

.notes-list a {
    text-decoration: none;
    color: black;
}